.box {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 10px;
  height: 300px;
  width: 300px;
  padding: 10px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.displayForTotalCredit {
  font-size: 2rem;
  text-align: center; /* This is the Logical Property for text-align: right; and has very good browser support. */
  background-color: hsl(202, 11%, 29%); /* background color */
  color: hsl(255, 100%, 100%); /* text color */
  padding-block-start: 0.25rem; /* Logical Property for padding-top */
  padding-block-end: 0.25rem; /* Logical Property for padding-bottom */
  padding-inline-end: 0.75rem; /* Logical Property for padding-right */
  width: 100px;
}

.displayForBet {
  font-size: 2rem;
  text-align: center;
  background-color: hsl(202, 11%, 29%);
  color: hsl(255, 100%, 100%);
  padding-block-start: 0.25rem; /* Logical Property for padding-top */
  padding-block-end: 0.25rem; /* Logical Property for padding-bottom */
  padding-inline-end: 0.75rem; /* Logical Property for padding-right */
  width: 100px;
}
.bet {
  margin-left: 10%;
  width: 25%;
  position: relative;
  top: -60px;
  padding: 25px;
}
.bet-up {
  font-size: 0.55rem;
  text-align: auto;
  width: 40px;
  font-weight: bolder;
}
.bet-down {
  font-size: 0.55rem;
  text-align: auto;
  width: 40px;
  font-weight: bolder;
}
